table {
    background-color:inherit;
    width: 90%;
    color:white;
    margin:auto;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 3px solid #ddd;
    padding: 6px;
    text-align: left;
}

th {
    font-weight: bold;
}



td:hover{
    background-color: #ddd;
    color:black;
    font:bold;
}
td {
    
    min-width:25vw; /* Prevents text from being too wide */
    word-wrap: break-word;
}
