{% extends "base.html" %}

{% block content %}
  <h2 class="text-3xl font-semibold mb-[7vh] sm:pt-[5vh] pt-[3vh]  text-center text-white">Compare Job Description</h2>

  <div class="w-[80vw] md:w-[60vw] m-auto bg-white p-8 rounded-xl shadow-lg">
    <form action="{{ url_for(route) }}" method="POST" enctype="multipart/form-data" class="flex flex-col">
      
      <textarea name="jd_text" id="jd_text" class="w-full p-4 mb-5 border rounded-md h-[50vh]" rows="6" placeholder="Type or paste job description here..."></textarea>
      <label for="jd_file" class="font-semibold mb-2 text-sm">Or Upload PDF:</label>
      <div class="flex gap-[2vw]">
      <div class="flex flex-col items-center">
        <input type="file" name="jd_file" id="jd_file" class="hidden" onchange="updateFileName(this)">
        <label for="jd_file" class="bg-blue-600 text-white px-4 py-2 rounded-md cursor-pointer hover:bg-blue-800 text-sm sm:text-md">Choose File</label>
      </div>

      <button type="submit" class="bg-[#020091] text-white py-2 px-4 rounded-md hover:bg-black text-sm sm:text-md">Submit</button>
    </div>
    <span id="file-name" class="text-sm mt-2"></span>
    </form>
  </div>

  <script>
    function updateFileName(input) {
      document.getElementById('file-name').textContent = input.files.length ? input.files[0].name : '';
    }
  </script>
{% endblock %}
