{% extends "base.html" %}

{% block content %}
<h2 class="text-3xl font-semibold mb-[7vh] sm:pt-[5vh] pt-[3vh] text-center text-white">Choose Comparison Method</h2>
<p class="text-center text-white mb-4">Make sure to have filled personal details for resume generation.</p>
<div class="flex flex-col sm:flex-row gap-6 justify-center items-center h-[50vh]">
  <!-- Manual Comparison Card -->
  <a href="{{ url_for('manual_compare') }}" class="w-[80vw] h-[40vh] sm:w-[300px] bg-white p-6 rounded-xl shadow-lg hover:scale-105 transition-transform">
    <div class="text-center">
      <h3 class="text-xl font-semibold text-blue-800 mt-3 mb-8">Manual Resume Generation</h3>
      <p class="text-gray-600">Manually select relevant projects for resume generation. </p>
    </div>
  </a>

  <!-- Automated Comparison Card -->
  <a href="{{ url_for('automated_compare') }}" class="w-[80vw] h-[40vh] sm:w-[300px] bg-white p-6 rounded-xl shadow-lg hover:scale-105 transition-transform">
    <div class="text-center">
      <h3 class="text-xl font-semibold text-blue-800 mt-3 mb-8">AI Resume Generation</h3>
      <p class="text-gray-600">AI generates a resume with projects that are best for the role.</p>
    </div>
  </a>
</div>
{% endblock %}