{% extends 'base.html' %}
{% block content %}
<div class="min-h-screen min-w-screen flex items-center justify-center">
    <form method="POST" class="flex flex-col gap-3 w-[80vw] max-w-3xl m-auto bg-white p-6 rounded-xl shadow-lg">
        
        <!-- PERSONAL INFO -->
        <h3 class="text-lg md:text-2xl font-semibold text-blue-800 mb-4">Personal Info</h3>

        <label for="fullname">Full Name</label>
        <input type="text" name="fullname" placeholder="John Doe" value="{{ fullname or '' }}"
               class="form-control p-2 border-b-2 text-sm md:text-lg">

        <!-- EDUCATION -->
        <h3 class="text-lg md:text-2xl font-semibold text-blue-800 mt-6 mb-4">Education</h3>

        <label for="school_name">School Name</label>
        <input type="text" name="school_name" placeholder="University of Lagos" value="{{ school_name or '' }}"
               class="form-control p-2 border-b-2 text-sm md:text-lg">

        <label for="course">Course</label>
        <input type="text" name="course" placeholder="Computer Engineering" value="{{ course or '' }}"
               class="form-control p-2 border-b-2 text-sm md:text-lg">

        <label for="duration">Duration</label>
        <input type="text" name="duration" placeholder="2021 - 2025" value="{{ duration or '' }}"
               class="form-control p-2 border-b-2 text-sm md:text-lg">

        <!-- SKILLS -->
        <h3 class="text-lg md:text-2xl font-semibold text-blue-800 mt-6 mb-4">Skills</h3>

        <label for="programming_languages">Programming Languages</label>
        <input type="text" name="programming_languages" placeholder="Python, C++, JavaScript" value="{{ programming_languages or '' }}"
               class="form-control p-2 border-b-2 text-sm md:text-lg">

        <label for="libraries">Libraries/Frameworks</label>
        <input type="text" name="libraries" placeholder="pandas, React, TensorFlow" value="{{ libraries or '' }}"
               class="form-control p-2 border-b-2 text-sm md:text-lg">

        <label for="tools">Tools</label>
        <input type="text" name="tools" placeholder="VSCode, Git, Figma" value="{{ tools or '' }}"
               class="form-control p-2 border-b-2 text-sm md:text-lg">

        <!-- EXTRACURRICULARS -->
        <h3 class="text-lg md:text-2xl font-semibold text-blue-800 mt-6 mb-4">Extracurriculars</h3>

        <label for="extracurriculars">Extracurricular Activities</label>
        <textarea name="extracurriculars" rows="4" placeholder="e.g. IEEE UNILAG Deputy Lead, GDSC Community Manager"
                  class="form-control p-2 border-2 rounded text-sm md:text-lg">{{ extracurriculars or '' }}</textarea>

        <button type="submit" class="bg-blue-600 text-white py-2 px-4 rounded-lg mt-4 self-end hover:bg-blue-700">
            Save Details
        </button>
    </form>
</div>
{% endblock %}
